{%  extends 'base.html' %}
{% load static %}


{% block content %}
<div style="margin-top: 50px;"></div>
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3"> 
              {% if messages %}
                {% for message in messages %}
            
                  <div class="alert alert-{{message.tags}} text-center messages" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
        </div>

        <section class="page-section portfolio" id="portfolio">
            <h1 class="text-center my-2">Doctor Details is here </h1>
              <div class="card">
                <div class="card-header">
                 <h1>Dr {{ doctor.name }}</h1> 
                </div>
                <div class="card-body">
                  <h3>Fee {{ doctor.fee }}</h3>
                  <h4>Available Time {{ doctor.available }}</h4>
                  <h5 class="card-title">Dept of {{ doctor.department }} at {{ doctor.location }}</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="{% url 'book_appoinment' doctor.id %}" class="btn btn-primary">Appoinment</a>
                </div>
              </div>
        </section>

    </div>
{% endblock content %}